<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>BugTracker</title>
    <script>
        document.onreadystatechange = () => {
            if(document.readyState === 'interactive'){
                document.getElementById("userAgent").value = window.navigator.userAgent
                document.getElementById("userDate").value = new Date()
            }
        }
    </script>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">BugTracker</a>
    </nav>
    <div class="container">
        <h1>Ferramenta de Report de bugs</h1>
        <p>Preencha todos os dados a seguir:</p>
        <form method="POST">

            <div class="form-group">
                <label for="name">Nome:</label>
                <input type="text" id='name' name='name' class="form-control" />
            </div>

            <div class="form-group">
                <label for="email">E-mail:</label>
                <input type="text" id='email' name='email' class="form-control" />
            </div>

            <div class="form-group">
                <label for="issueType">Classificação do erro:</label>
                <select type="text" id='issueType' name='issueType' class="form-control">
                    <option value="">Selecione</option>
                    <option value="critical">Crítico</option>
                    <option value="bug">Falha</option>
                    <option value="enhancement">Melhoria</option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="howToReproduce">Como reproduzir o erro?</label>
                <input type="text" id='howToReproduce' name='howToReproduce' class="form-control" />
            </div>

            <div class="form-group">
                <label for="exceptedOutput">A saída esperada?</label>
                <textarea type="text" id='exceptedOutput' name='exceptedOutput' class="form-control"> </textarea>
            </div>

            <div class="form-group">
                <label for="receivedOutput">A saída recebida?</label>
                <textarea type="text" id='receivedOutput' name='receivedOutput' class="form-control"> </textarea>
            </div>

            
            <input type="hidden" id="userAgent" name="userAgent" />
            <input type="hidden" id="userDate" name="userDate" />

            <button class="btn btn-primary">Enviar solicitação</button>
        </form>
    </div>
</body>
</html>